DATASOURCE_URL=jdbc:postgresql://localhost:5432/skillsphere
DATASOURCE_USERNAME=your_db_username
DATASOURCE_PASSWORD=your_db_password
KEYCLOAK_URL=http://localhost:8081
KEYCLOAK_REALM=skillsphere
KEYCLOAK_SYNC_CLIENT_ID=employee-sync
KEYCLOAK_SYNC_CLIENT_SECRET=your_keycloak_client_secret
KEYCLOAK_SYNC_INTERVAL=60000
REDIS_HOST=localhost
REDIS_PORT=6379
KAFKA_PORT=localhost:9092
